button {
  background: none;
  border: none;
  color: $primary-text;
  display: inline-block;

  overflow: visible; // IE8
  font-size: inherit; // IE in general. WTF.

  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
}

/* All elements inherit border-box sizing */
& *,
& *:before,
& *:after {
  box-sizing: inherit;
}
